@import "../../variables.scss";

.CartMain {
  padding: 0px;
  font-family: $font-family;
  height: 100vh;

  .CartHeaderClBtn {
    margin-bottom: 5px;
    button {
      font-family: $font-family !important;
      text-transform: capitalize !important;
      font-size: 14px;
      color: $titleColor !important;
      padding: 0px 8px;
      text-decoration: underline !important;

      &:hover {
        background: transparent !important;
        color: $heightlightColor !important;
      }
    }
  }

  .cartAll-checkbox {
    color: $heightlightColor;
    margin-right: 8px;

    &.Mui-checked {
      color: $heightlightColor;
    }

    &:hover {
      background-color: rgba(184, 134, 11, 0.04);
    }
  }

  .CartItemList {
    padding-bottom: 118px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .CartActionsFooter {
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.05);
    z-index: 1000;

    .action-buttons {
      padding: 0 15px;
      margin-top: 8px;
      margin-bottom: 8px;
      display: flex;

      button {
        width: 50%;
        color: $titleColor !important;
        border: 1px solid #d3d3d3 !important;
        border-radius: 8px !important;
        text-transform: none;
        font-family: $font-family !important;
      }
    }

    .footer-divider {
      margin: 8px 0;
    }

    .text-buttons {
      display: flex;
      gap: 12px;
      padding: 0 15px;

      button {
        font-family: $font-family !important;
        color: $heightlightColor !important;
        font-weight: 500;
        width: 50%;
        text-transform: none;
      }
    }
  }

}